.cell-header {
    display: none;
}

@media screen and (max-width: 600px) {
  .responsive-table th {
    display: none;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
  }

  .responsive-table .cell-header {
    display: block;
    font-weight: bold;
  }
}
